body {
  font-family: sans-serif;
  margin: 0;
  font-weight: bold; /* Adjust font size */

}

.container-wrapper {
  display: flex;
  justify-content: space-around; /* Distribute buttons evenly */
  width: 80%; /* Adjust width as needed */
  margin: 0 auto 20px; /* Set margin for top and bottom */
}

.container-button {
  /* Your existing button styles */
  font-weight: bold; /* Adjust font size */
  padding: 10px 20px;
  border: 1px solid #ddd;

}

.search-options,
.subheader-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Adjust margin as needed */
}

.search-option,
.subheader-button {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.search-option:last-child {
  margin-right: 0;
}


.marketplace-options,
.subheader-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /*
 Adjust margin as needed */
}

.marketplace-option,
.subheader-button {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.marketplace-option:last-child {
  margin-right: 0;
}

.jobs-search-options,
.subheader-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Adjust margin as needed */
}

.jobs-search-option,
.subheader-button {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.jobs-search-option:last-child {
  margin-right: 0;
}

button[type="submit"] {
  /* Your styles here */
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  
  


}




.container-line {
  width: 100%; /* Set the width to 100% */
  border: 1px solid #df3535; /* Set the border color to match the container buttons */
  margin: 20px 0; /* Add margin to the top and bottom */
}




.container-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.2s ease-in-out;
}

.container-button.active {
  /*background-color: #e0e0e0; /* Slightly darker shade for active button */

}

.container-button:hover {
  border-color: #4285F4; /* Google Android blue border color on hover */
}

.container-content {
  width: 98%; /* Adjust width as needed */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px; /* Add margin for separation */
}

/* Hide all containers initially */
.search-container,
.chat-container,
.marketplace-container,
.jobs-container
{
  display: none;
}

/* Show active container */
.search-container.active,
.chat-container.active,
.marketplace-container.active,
.jobs-container.active {
  display: block;
}

/* Style for the search container */
.search-container {
  background-color: #fff; /* Silver background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
  margin-bottom: 20px; /* Add margin at the bottom for separation */
  width: 100%; /* Make the container width 100% */
  box-sizing: border-box; /* Include padding and border in the width */
}

/* Style for the search input in the search container */
.search-container input[type="search"] {
  width: 100%; /* Set the width to 100% */
  padding: 15px; /* Increase padding for height */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font size */

  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

/* Style for the chat container */
.chat-container {
  background-color: #fff; /* Light gray background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Style for the chat input in the chat container */
.chat-container input[type="text"] {
  width: 98%; /* Set the width to 100% */
  padding: 15px; /* Increase padding for height */
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

/* Style for the marketplace container */
.marketplace-container {
  background-color: #fff; /* Off-white background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Style for the marketplace container */
.jobs-search-container {
  background-color: #fff; /* Off-white background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Style for the search input in the marketplace container */
.jobs-search-container input[type="search"] {
  width: 100%; /* Set the width to 100% */
  padding: 15px; /* Increase padding for height */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font size */

  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

/* Style for the search input in the marketplace container */
.marketplace-container input[type="search"] {
  width: 100%; /* Set the width to 100% */
  padding: 15px; /* Increase padding for height */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font size */

  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

.container-button.active {
/*  background-color: #e0e0e0; /* Slightly darker shade for active button */
  border-color: #4285F4; /* Google Android blue border color */
}



/* Style for the marketplace container */
.upgrade-plan-container {
  background-color: #fff; /* Off-white background color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border radius for rounded corners */
}



.login-sign-up-container {
  flex-direction: column;
  align-items: end;
  margin-top: 0px; /* Adjust margin as needed */
}



.main-bar-separator {
  width: 100%;  /* Stretch the line across the full width */
  height: 1px;   /* Set the line thickness */
  background-color: #000000;  /* Set the line color (light gray in this case) */
  margin: 10px 0;  /* Add some space above and below the line */
}

